:root {
    /* Alternia and Beforus Colors */
    --aradia-color: #a10000;
    --aradia-color-dark: hsl(0, 100%, 42%);
    --tavros-color: #a15000;
    --tavros-color-dark: hsl(30, 100%, 38%);
    --sollux-color: #a1a100;
    --sollux-color-dark: hsl(60, 100%, 38%);
    --karkat-color: #626262;
    --karkat-color-dark: hsl(0, 0%, 52%);
    --nepeta-color: #416600;
    --nepeta-color-dark: hsl(82, 100%, 30%);
    --kanaya-color: #008141;
    --kanaya-color-dark: hsl(150, 100%, 30%);
    --terezi-color: #008282;
    --terezi-color-dark: hsl(180, 100%, 35%);
    --vriska-color: #005682;
    --vriska-color-dark: hsl(200, 100%, 35%);
    --equius-color: #000056;
    --equius-color-dark: hsl(240, 100%, 57%);
    --gamzee-color: #2b0057;
    --gamzee-color-dark: hsl(270, 100%, 50%);
    --eridan-color: #6a006a;
    --eridan-color-dark: hsl(300, 100%, 31%);
    --feferi-color: #77003c;
    --feferi-color-dark: hsl(330, 100%, 40%);

    --kankri-color: #ff0000;

    /* Cherub Colors */
    --caliborn-color: #323232;
    --caliborn-color-dark: hsl(0, 0%, 40%);
    --calliope-color: #929292;

    /* Sprite Colors */
    --tavrisprite-color: #0715cd;
    --tavrisprite-color-dark: hsl(236, 93%, 52%);
    --erisolsprite-color: #4ac925;
    --erisolsprite-color-dark: hsl(106, 69%, 50%);

    /* Hiveswap Colors */
    --xefros-color: #bb0000;
    --xefros-color-dark: hsl(0, 100%, 40%);
    --trizza-color: #6e003c;
    --trizza-color-dark: hsl(327, 100%, 35%);
    
    --diemen-color: #6f210e;
    --diemen-color-dark: hsl(12, 78%, 40%);
    --amisia-color: #000058;
    --amisia-color-dark: hsl(240, 100%, 50%);
    --skylla-color: #a25200;
    --skylla-color-dark: #a25200;
    --bronya-color: #008342;
    --bronya-color-dark: hsl(150, 100%, 36%);
    --tagora-color: #008484;
    --tagora-color-dark: hsl(180, 100%, 36%);
    --polypa-color: #426800;
    --polypa-color-dark: hsl(82, 100%, 35%);
    --kuprum-color: #a2a200;
    --kuprum-color-dark: hsl(60, 100%, 40%);
    --chahut-color: #2c0059;
    --chahut-color-dark: hsl(270, 100%, 37%);
}
