.aradia-color {
    color: var(--aradia-color);
}
.t-dark .aradia-color {
    color: var(--aradia-color-dark);
}
.waves-effect.waves-aradia .waves-ripple {
    background-color: var(--aradia-color);
}
.waves-effect.waves-aradia .waves-ripple {
    background-color: var(--aradia-color);
}

.tavros-color {
    color: var(--tavros-color);
}
.t-dark .tavros-color {
    color: var(--tavros-color-dark);
}
.waves-effect.waves-tavros .waves-ripple {
    background-color: var(--tavros-color);
}

.sollux-color {
    color: var(--sollux-color);
}
.t-dark .sollux-color {
    color: var(--sollux-color-dark);
}
.waves-effect.waves-sollux .waves-ripple {
    background-color: var(--sollux-color);
}

.karkat-color {
    color: var(--karkat-color);
}
.t-dark .karkat-color {
    color: var(--karkat-color-dark);
}
.waves-effect.waves-karkat .waves-ripple {
    background-color: var(--karkat-color);
}

.nepeta-color {
    color: var(--nepeta-color);
}
.t-dark .nepeta-color {
    color: var(--nepeta-color-dark);
}
.waves-effect.waves-nepeta .waves-ripple {
    background-color: var(--nepeta-color);
}

.kanaya-color {
    color: var(--kanaya-color);
}
.t-dark .kanaya-color {
    color: var(--kanaya-color-dark);
}
.waves-effect.waves-kanaya .waves-ripple {
    background-color: var(--kanaya-color);
}

.terezi-color {
    color: var(--terezi-color);
}
.t-dark .terezi-color {
    color: var(--terezi-color-dark);
}
.waves-effect.waves-terezi .waves-ripple {
    background-color: var(--terezi-color);
}

.vriska-color {
    color: var(--vriska-color);
}
.t-dark .vriska-color {
    color: var(--vriska-color-dark);
}
.waves-effect.waves-vriska .waves-ripple {
    background-color: var(--vriska-color);
}

.equius-color {
    color: var(--equius-color);
}
.t-dark .equius-color {
    color: var(--equius-color-dark);
}
.waves-effect.waves-equius .waves-ripple {
    background-color: var(--equius-color);
}

.gamzee-color {
    color: var(--gamzee-color);
}
.t-dark .gamzee-color {
    color: var(--gamzee-color-dark);
}
.waves-effect.waves-gamzee .waves-ripple {
    background-color: var(--gamzee-color);
}

.eridan-color {
    color: var(--eridan-color);
}
.t-dark .eridan-color {
    color: var(--eridan-color-dark);
}
.waves-effect.waves-eridan .waves-ripple {
    background-color: var(--eridan-color);
}

.feferi-color {
    color: var(--feferi-color);
}
.t-dark .feferi-color {
    color: var(--feferi-color-dark);
}
.waves-effect.waves-feferi .waves-ripple {
    background-color: var(--feferi-color);
}

.kankri-color {
    color: var(--kankri-color);
}

.waves-effect.waves-kankri .waves-ripple {
    background-color: var(--kankri-color);
}