.xefros-color {
    color: var(--xefros-color);
}
.t-dark .xefros-color {
    color: var(--xefros-color-dark);
}
.waves-effect.waves-xefros .waves-ripple {
    background-color: var(--xefros-color);
}
.checkbox-xefros[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--xefros-color);
    background-color: var(--xefros-color);
}

.trizza-color {
    color: var(--trizza-color);
}
.t-dark .trizza-color {
    color: var(--trizza-color-dark);
}
.waves-effect.waves-trizza .waves-ripple {
    background-color: var(--trizza-color);
}
.checkbox-trizza[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--trizza-color);
    background-color: var(--trizza-color);
}

.diemen-color {
    color: var(--diemen-color);
}
.t-dark .diemen-color {
    color: var(--diemen-color-dark);
}
.waves-effect.waves-diemen .waves-ripple {
    background-color: var(--diemen-color);
}
.checkbox-diemen[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--diemen-color);
    background-color: var(--diemen-color);
}

.amisia-color {
    color: var(--amisia-color);
}
.t-dark .amisia-color {
    color: var(--amisia-color-dark);
}
.waves-effect.waves-amisia .waves-ripple {
    background-color: var(--amisia-color);
}
.checkbox-amisia[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--amisia-color);
    background-color: var(--amisia-color);
}

.skylla-color {
    color: var(--skylla-color);
}
.t-dark .skylla-color {
    color: var(--skylla-color-dark);
}
.waves-effect.waves-skylla .waves-ripple {
    background-color: var(--skylla-color);
}
.checkbox-skylla[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--skylla-color);
    background-color: var(--skylla-color);
}

.bronya-color {
    color: var(--bronya-color);
}
.t-dark .bronya-color {
    color: var(--bronya-color-dark);
}
.waves-effect.waves-bronya .waves-ripple {
    background-color: var(--bronya-color);
}
.checkbox-bronya[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--bronya-color);
    background-color: var(--bronya-color);
}

.tagora-color {
    color: var(--tagora-color);
}
.t-dark .tagora-color {
    color: var(--tagora-color-dark);
}
.waves-effect.waves-tagora .waves-ripple {
    background-color: var(--tagora-color);
}
.checkbox-tagora[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--tagora-color);
    background-color: var(--tagora-color);
}

.polypa-color {
    color: var(--polypa-color);
}
.t-dark .polypa-color {
    color: var(--polypa-color-dark);
}
.waves-effect.waves-polypa .waves-ripple {
    background-color: var(--polypa-color);
}
.checkbox-polypa[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--polypa-color);
    background-color: var(--polypa-color);
}

.kuprum-color {
    color: var(--kuprum-color);
}
.t-dark .kuprum-color {
    color: var(--kuprum-color-dark);
}
.waves-effect.waves-kuprum .waves-ripple {
    background-color: var(--kuprum-color);
}
.checkbox-kuprum[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--kuprum-color);
    background-color: var(--kuprum-color);
}

.chahut-color {
    color: var(--chahut-color);
}
.t-dark .chahut-color {
    color: var(--chahut-color-dark);
}
.waves-effect.waves-chahut .waves-ripple {
    background-color: var(--chahut-color);
}
.checkbox-chahut[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--chahut-color);
    background-color: var(--chahut-color);
}