@import "~antd/dist/antd.css";
@import "~antd/dist/antd.dark.css";
@import "~@material/ripple/dist/mdc.ripple.css";

.ant-drawer-body, .ant-layout-sider {
    background: transparent;
}

.ant-layout-sider {
    position: sticky;
    top: 0;
    left: 0;
}

.ant-drawer-body {
    padding: 0;
}

.ant-btn-primary {
    &, &:focus {
        background: var(--accent-color);
        border: none;
    }
}

.ant-btn-primary:hover {
    background: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
}

.ant-tabs-ink-bar {
    background: var(--accent-color);
}

.ant-switch-checked {
    background-color: var(--accent-color);
}