@import "~antd/dist/antd.css";
@import "~antd/dist/antd.dark.css";
@import "~@material/ripple/dist/mdc.ripple.css";

.ant-layout {
    background-color: var(--background-primary-color);
}

/* Drawer and sidebar. */
.ant-drawer-body, .ant-layout-sider {
    background: transparent;
}

.ant-layout-sider {
    position: sticky;
    top: 0;
    left: 0;
}

.ant-drawer-body {
    font-size: 12pt;
    padding: 0;
}

/* Buttons. */
.ant-btn-primary {
    &, &:focus {
        background: var(--accent-color);
        border: none;
    }
}

.ant-btn-primary:hover {
    background: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
}

/* Tabs. */
.ant-tabs-tab:hover, .ant-tabs-tab-btn:active {
    color: var(--accent-color-hover);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--accent-color);
}

.ant-tabs-top > .ant-tabs-nav::before {
    border-bottom-color: var(--background-secondary-color-border);
}

.ant-tabs-ink-bar {
    background: var(--accent-color);
}

/* Switch. */
.ant-switch-checked {
    background-color: var(--accent-color);
}

/* Divider. */
.ant-divider-horizontal.ant-divider-with-text-left {
    &:before, &:after {
        pointer-events: none;
    }
}