@import "quirk-colors/quirk-colors";

:root {
    --accent-color: #00897b;
    --accent-color-hover: #{scale-color(#00897b, $lightness: -30%)};

    --background-color: #171e27;
    --secondary-border-color: grey;
}