@import "util-mixins";

.main-content {
    padding: {
        top: 0.75em;
        left: 0.75em;
        right: 0.75em;
    };
}

.quirk-box {
    font-family: "courier-std", courier, sans-serif;
}

// Take up full width of sidebar (~100vh) and add a scrollbar for overflow.
.options-bar {
    height: 100%;
    overflow-y: auto;
    padding: 0 0.75em;
}

.checkbox-list {
    @include no-selection;

    display: flex;
    flex-direction: column;

    margin-bottom: 3em;
}

.category-checkbox {
    align-self: center;
    margin-bottom: 1em;
}

.ripple-checkbox {
    border-bottom: 1px solid grey;
}

.checkbox-content {
    height: 46px;
    display: flex;
    align-items: center;

    pointer-events: none;

    font-family: "Courier New", monospace;
    font-size: 1.1em;
}

.checkbox-label {
    margin-left: 1em;
}