@import "util-mixins";

.quirk-box {
    font-family: "courier-std", courier, sans-serif;
}

// Take up full width of sidebar (~100vh) and add a scrollbar for overflow.
.options-bar {
    height: 100%;
    overflow-y: auto;
}

.checkbox-list {
    @include no-selection;

    display: flex;
    flex-direction: column;
}

.checkbox-content {
    height: 56px;
    display: flex;
    align-items: center;

    pointer-events: none;
}