# WebStorm project files.
.idea/*
# Exception to dictionnary.
!.idea/dictionaries

# Visual Studio Code
.vscode

# npm
node_modules/*

# TypeScript
*.js
*.js.map

# Windows
Thumbs.db

# macOS
*.DS_Store
