# npm dependencies
node_modules
/dist

# Firebase files
.firebaserc
.firebase
firebase-debug*.log
firestore-debug*.log
ui-debug.log

# Unit test coverage
test-coverage

# Deploy folder
/build

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS Finder data
.DS_Store
