# WebStorm project files.
.idea/*
# Exception to dictionnary.
!.idea/dictionaries

# Visual Studio Code
.vscode

# npm
node_modules/*

# JS/CSS
App/bundle.js
*.js.map
*.min.js
*.min.css

# Windows
Thumbs.db

# macOS
*.DS_Store
