/* Troll Colors */
#aradiaText {
    color: #a10000;
}
#tavrosText, #rufiohText {
    color: #a15000;
}
#solluxText, #mitunaText {
    color: #a1a100;
}
#karkatText {
    color: #626262;
}
#kankriText {
    color: #ff0000;
}
#nepetaText, #meulinText {
    color: #416600;
}
#kanayaText, #porrimText {
    color: #008141;
}
#tereziText, #latulaText {
    color: #008282;
}
#vriskaText, #araneaText {
    color: #005682;
}
#equiusText, #horussText {
    color: #000056;
}
#gamzeeText, #kurlozText {
    color: #2b0057;
}
#eridanText, #cronusText {
    color: #6a006a;
}
#feferiText, #meenahText {
    color: #77003c;
}

/* Cherub Colors */
#calibornText {
    color: #323232;
}
#calliopeText {
    color: #929292;
}