/* Alternia and Beforus Colors */
.aradiaColor {
    color: #a10000;
}
.t-dark .aradiaColor {
    color: hsl(0, 100%, 42%);
}
.tavrosColor {
    color: #a15000;
}
.t-dark .tavrosColor {
    color: hsl(30, 100%, 38%);
}
.solluxColor {
    color: #a1a100;
}
.t-dark .solluxColor {
    color: hsl(60, 100%, 38%);
}
.karkatColor {
    color: #626262;
}
.t-dark .karkatColor {
    color: hsl(0, 0%, 52%);
}
.kankriColor {
    color: #ff0000;
}
.nepetaColor {
    color: #416600;
}
.t-dark .nepetaColor {
    color: hsl(82, 100%, 30%);
}
.kanayaColor {
    color: #008141;
}
.t-dark .kanayaColor {
    color: hsl(150, 100%, 30%);
}
.tereziColor {
    color: #008282;
}
.t-dark .tereziColor {
    color: hsl(180, 100%, 35%);
}
.vriskaColor {
    color: #005682;
}
.t-dark .vriskaColor {
    color: hsl(200, 100%, 35%);
}
.equiusColor {
    color: #000056;
}
.t-dark .equiusColor {
    color: hsl(240, 100%, 57%);
}
.gamzeeColor {
    color: #2b0057;
}
.t-dark .gamzeeColor {
    color: hsl(270, 100%, 50%);
}
.eridanColor {
    color: #6a006a;
}
.t-dark .eridanColor {
    color: hsl(300, 100%, 31%);
}
.feferiColor {
    color: #77003c;
}
.t-dark .feferiColor {
    color: hsl(330, 100%, 40%);
}

/* Cherub Colors */
.calibornColor {
    color: #323232;
}
.t-dark .calibornColor {
    color: hsl(0, 0%, 40%);
}
.calliopeColor {
    color: #929292;
}

/* Sprite Colors */
.tavrispriteColor {
    color: #0715cd;
}
.t-dark .tavrispriteColor {
    color: hsl(236, 93%, 52%);
}
.erisolspriteColor {
    color: #4ac925;
}
.t-dark .erisolspriteColor {
    color: hsl(106, 69%, 50%);
}

/* Hiveswap Colors */
.xefrosColor {
    color: #bb0000;
}
.t-dark .xefrosColor {
    color: hsl(0, 100%, 40%);
}
.trizzaColor {
    color: #6e003c;
}
.t-dark .trizzaColor {
    color: hsl(327, 100%, 35%);
}
.diemenColor {
    color: #6f210e;
}
.t-dark .diemenColor {
    color: hsl(12, 78%, 40%);
}
.amisiaColor {
    color: #000058;
}
.t-dark .amisiaColor {
    color: hsl(240, 100%, 50%);
}
.skyllaColor {
    color: #a25200;
}
.t-dark .skyllaColor {
    color: #a25200;
}
.bronyaColor {
    color: #008342;
}
.t-dark .bronyaColor {
    color: hsl(150, 100%, 36%)
}
.tagoraColor {
    color: #008484;
}
.t-dark .tagoraColor {
    color: hsl(180, 100%, 36%);
}
.polypaColor {
    color: #426800;
}
.t-dark .polypaColor {
    color: hsl(82, 100%, 35%);
}
.kuprumColor {
    color: #a2a200;
}
.t-dark .kuprumColor {
    color: hsl(60, 100%, 40%);
}
.chahutColor {
    color: #2c0059;
}
.t-dark .chahutColor {
    color: hsl(270, 100%, 37%);
}