:root {
    --transition-of-color: color 1s ease, background-color 1s ease;
}

body {
    transition: var(--transition-of-color);
    -webkit-transition: var(--transition-of-color);
}

.t-dark {
    transition: var(--transition-of-color);
    -webkit-transition: var(--transition-of-color);

    background-color: rgb(23, 30, 39);
}

.t-dark .info-fields {
    transition: var(--transition-of-color);
    -webkit-transition: var(--transition-of-color);

    color: #b3b3b3;
}

.t-dark .subtitle a:visited {
    transition: var(--transition-of-color);
    -webkit-transition: var(--transition-of-color);

    color: #404F5A;
}

.t-dark textarea#text-input {
    transition: var(--transition-of-color);
    -webkit-transition: var(--transition-of-color);
    color: white;
}