.t-dark {
    background-color: rgb(23, 30, 39);
}

.t-dark, .t-dark ul#tab li a {
    color: rgb(177, 177, 177);
}

.t-dark ul#tab {
    background-color: rgb(23, 30, 39);
}

/* Change background color of links on hover */
.t-dark ul#tab li a:hover, .t-dark .tabcontent table tr:hover {
    background-color: rgb(30, 38, 51);
}

/* Create an active/current tablink class */
.t-dark ul#tab li a:focus, .t-dark .active, .t-dark .tabcontent table tr:active {
    background-color: rgb(19, 24, 32);
}

.t-dark div.floatingBox {
    background-color: rgb(38, 49, 65);
}

.t-dark #buttonList input[type="button"] {
    color: #9fa8b0;
    background: #232B30; /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
}

.t-dark #buttonList input[type="button"]:hover {
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}

.t-dark textarea {
    background-color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #000;
}

.t-dark textarea#textInput {
    color: white;
}

/* .t-dark textarea#aradiaText {
    color: hsl(0, 100%, 42%);
}
.t-dark #equiusText, .t-dark #horussText {
    color: hsl(240, 100%, 57%);
} */