body {
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
}

.newSet {
    text-decoration: underline;
}

div.headerTitle {
    font-size: 14pt;
    text-decoration: underline;
}

div.subTitle {
    font-size: 12pt;
}

/* Side box with checkboxes. */
div.floatingBox {
    right: 16px;
    position: fixed;
    width: 28%;
    min-width: 222px;
    height: 97vh;
    overflow-y: scroll;
    border: 3px solid #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.75);
    -moz-box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.75);
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.75);
}

/* Disable fixed sidebox if the screen's too small.
The site's still messed up at this width, but this makes it a little less poisonous. */
@media screen and (max-width: 800px) {
    div.floatingBox {
        right: auto;
        position: static;
        float: left;
    }
}

div.floatingBox div#buttonList {
    text-align: center;
}

#buttonList input[type="button"] {
    outline: 0;
    padding: 5px 12px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #1c252b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color:#599bb3;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#buttonList input[type="button"]:hover {
    background:linear-gradient(to bottom, #64afca 5%, #53b3c4 100%);
}

#buttonList input[type="button"]:active {
    top: 1px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color:#408c99;
}

table#miscOptions {
    padding: 6px 12px;
    border-top: none;
}

table#miscOptions tr {
    font-family: monospace;
    font-size: 11pt;
}

table#miscOptions, table#miscOptions tr td {
    width: 100%;
}

table#miscOptions tr:hover {
    background-color: #ccc;
}

table#miscOptions tr:active {
    background-color: #858585;
}

div.floatingBox table, div.floatingBox #tab {
    /* Disable text highlighting so double-clicks aren't annoying. */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}

ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul#tab li {
    float: left;
}

/* Style the links inside the list items */
ul#tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    transition: 0.1s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul#tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul#tab li a:focus, ul#tab li a:active, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    font-family: monospace;
    font-size: 11pt;
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent table, .tabcontent table tr td {
    width: 100%;
}

.tabcontent table tr:hover {
    background-color: #ccc;
}

.tabcontent table tr:active {
    background-color: #858585;
}

.tabcontent table input[type="checkbox"], table#miscOptions input[type="checkbox"] {
    pointer-events: none;
}

/* Text Boxes */
div#fields {
    float: left;
    width: 70%;
    min-width: 340px;
}

fieldset {
    border: none;
    width: 100%;
    margin: 0px auto;
}

fieldset textarea {
    font-family: "Courier New";
    font-size: 13pt;
    resize: none;
    width: calc(100% - 180px);
    min-width: 350px;
    min-height: 46px;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    box-sizing: border-box;
}

fieldset label {
    vertical-align: top;
    display: inline-block;
    width: 150px;
}

#copyTooltip {
    pointer-events: none;
    position: fixed;
    word-wrap: none;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    background-color: #a79e9e;
    opacity: 1;
    transition: opacity 0.3s;
}