body {
    min-height: 100%;
}

/* Make the hidden attribute strong. */
[hidden] {
    display: none !important;
}

[id$=-checkboxes] tr {
    width: 100%;
}

.set-header {
    text-decoration: underline;
}

.header-title {
    font-size: 14pt;
    text-decoration: underline;
}

.subtitle {
    font-size: 12pt;
}

/* Taken from: https://stackoverflow.com/a/4407335 */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Style the tab content */
.tab-content {
    font-family: monospace;
    font-size: 11pt;
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tab-content table, .tab-content table tr td {
    width: 100%;
}

.tab-content table tr:hover {
    background-color: #ccc;
}

.tab-content table tr:active {
    background-color: #858585;
}

fieldset {
    border: none;
    margin: 0 auto;
}

#copyTooltip {
    pointer-events: none;
    position: fixed;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    background-color: #a79e9e;
    opacity: 1;
    transition: opacity 0.3s;
}