body {
    min-height: 100%;
}

/* Make the hidden attribute strong. */
[hidden] {
    display: none !important;
}

textarea {
    overflow: hidden; /* Prevents scrollbar from appearing on outputs. */
    resize: none; /* Removes ability to manually resize. */

    font-family: "Courier New", sans-serif;
}

.text-output {
    border: none;
    font-size: 12pt;
}

.text-output:focus {
    outline: none;
}

[id$=-checkboxes] tr {
    width: 100%;
}

tr[id$=-row] td {
    padding: 0;
}

.set-header {
    text-decoration: underline;
}

.header-title {
    font-size: 14pt;
    text-decoration: underline;
}

.subtitle {
    font-size: 12pt;
}

/* Taken from: https://stackoverflow.com/a/4407335 */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Style the tab content */
.tab-content {
    font-family: monospace;
    font-size: 11pt;
    display: none;
    padding: 6px 12px;
    border-top: none;
}