@mixin generate-colors($identifier, $color) {
    $brighterColor: scale-color($color, $lightness: 10%);

    --#{$identifier}-color: #{$brighterColor};

    .mdc-ripple-surface--#{$identifier}::before, .mdc-ripple-surface--#{$identifier}::after {
        background-color: $brighterColor;
    }

    .#{$identifier}-checkbox {
        // Change Ant Design checkbox background.
        .ant-checkbox-checked {
            .ant-checkbox-inner {
                border-color: $color;
                background-color: $color;
            }
        }
    }
}

@mixin generate-colors-inherit($identifier, $colorToInherit) {
    @include generate-colors(#{$identifier}, $colorToInherit);
}

@function boostLightness($color) {
    @return scale-color($color, $lightness: 30%);
}