@mixin generate-colors($identifier, $color) {
    :root {
        --#{$identifier}-color: #{$color};
    }

    .mdc-ripple-surface--#{$identifier}::before, .mdc-ripple-surface--#{$identifier}::after {
        background-color: var(--#{$identifier}-color);
    }

    .#{$identifier}-checkbox {
        // Change Ant Design checkbox background.
        .ant-checkbox-checked {
            .ant-checkbox-inner {
                border-color: var(--#{$identifier}-color);
                background-color: var(--#{$identifier}-color);
            }
        }
    }
}

@mixin generate-colors-inherit($identifier, $inheritanceIdentifier) {
    @include generate-colors(#{$identifier}, var(--#{$inheritanceIdentifier}-color));
}