@import "quirk-mixins";

:root {
    @include generate-colors("caliborn", boostLightness(#323232));
    @include generate-colors("calliope", #929292);

    // Sprites
    @include generate-colors("tavrisprite", #0715cd);
    @include generate-colors("erisolsprite", #4ac925);

    // Hiveswap
    @include generate-colors("xefros-tritoh", #bb0000);
    @include generate-colors("trizza-tethis", #6e003c);
    $diemen: #6f210e; @include generate-colors("diemen-xicali", $diemen);
    @include generate-colors-inherit("ardata-carmia", $vriska);
    $cirava: #a2a200; @include generate-colors("cirava-hermod", $cirava);
    $amisia: boostLightness(#000058); @include generate-colors("amisia-erdehn", $amisia);
    $skylla: #a25200; @include generate-colors("skylla-koriga", $skylla);
    $bronya: #008342; @include generate-colors("bronya-ursama", $bronya);
    $tagora: #008484; @include generate-colors("tagora-gorjek", $tagora);
    @include generate-colors-inherit("vikare-ratite", $skylla);
    $polypa: #426800; @include generate-colors("polypa-goezee", $polypa);
    @include generate-colors-inherit("zebruh-codakk", $amisia);
    @include generate-colors-inherit("elwurd", $vriska);
    @include generate-colors-inherit("kuprum-maxlol", $cirava);
    @include generate-colors-inherit("folykl-darane", $cirava);
    @include generate-colors-inherit("remele-namaaq", $vriska);
    @include generate-colors-inherit("tyzias-entykk", $tagora);
    @include generate-colors-inherit("chixie-roixmr", $skylla);
    @include generate-colors-inherit("azdaja-knelax", $cirava);
    $chahut: boostLightness(#2c0059); @include generate-colors("chahut-maenad", $chahut);
    @include generate-colors-inherit("zebede-tongva", $cirava);
    @include generate-colors-inherit("tegiri-kalbur", $tagora);
    @include generate-colors-inherit("mallek-adalov", $vriska);
    @include generate-colors-inherit("lynera-skalbi", $bronya);
    @include generate-colors-inherit("tirona-kasund", $tagora);
    @include generate-colors-inherit("boldir-lamati", $polypa);
    @include generate-colors-inherit("stelsa-sezyat", $tagora);
    @include generate-colors-inherit("marsti-houtek", $diemen);
    @include generate-colors-inherit("karako-pierot", $chahut);
    @include generate-colors-inherit("wanshi-adyata", $bronya);
    @include generate-colors-inherit("fozzer-velyes", $diemen);
    @include generate-colors-inherit("marvus-xoloto", $chahut);
    @include generate-colors-inherit("daraya-jonjet", $bronya);
    @include generate-colors-inherit("nihkee-moolah", $amisia);
    @include generate-colors-inherit("lanque-bombyx", $bronya);
    @include generate-colors-inherit("barzum-soleil", $chahut);
    @include generate-colors-inherit("baizli-soleil", $chahut);
}