@import "quirk-mixins";

:root {
    // Alternia
    $aradia: #a10000; @include generate-colors("aradia-medigo", $aradia);
    $tavros: #a15000; @include generate-colors("tavros-nitram", $tavros);
    $sollux: #a1a100; @include generate-colors("sollux-captor", $sollux);
    @include generate-colors("karkat-vantas", #626262);
    $nepeta: #416600; @include generate-colors("nepeta-leijon", $nepeta);
    $kanaya: #008141; @include generate-colors("kanaya-maryam", $kanaya);
    $terezi: #008282; @include generate-colors("terezi-pyrope", $terezi);
    $vriska: #005682; @include generate-colors("vriska-serket", $vriska);
    $equius: boostLightness(#000056); @include generate-colors("equius-zahhak", $equius);
    $gamzee: boostLightness(#2b0057); @include generate-colors("gamzee-makara", $gamzee);
    $eridan: #6a006a; @include generate-colors("eridan-ampora", $eridan);
    $feferi: #77003c; @include generate-colors("feferi-peixes", $feferi);

    // Beforus
    @include generate-colors-inherit("rufioh-nitram", $tavros);
    @include generate-colors-inherit("mituna-captor", $sollux);
    @include generate-colors("kankri-vantas", #ff0000);
    @include generate-colors-inherit("meulin-leijon", $nepeta);
    @include generate-colors-inherit("porrim-maryam", $kanaya);
    @include generate-colors-inherit("latula-pyrope", $terezi);
    @include generate-colors-inherit("aranea-serket", $vriska);
    @include generate-colors-inherit("horuss-zahhak", $equius);
    @include generate-colors-inherit("kurloz-makara", $gamzee);
    @include generate-colors-inherit("cronus-ampora", $eridan);
    @include generate-colors-inherit("meenah-peixes", $feferi);

    // Cherubs
    @include generate-colors("caliborn", boostLightness(#323232));
    @include generate-colors("calliope", #929292);

    // Sprites
    @include generate-colors("tavrisprite", #0715cd);
    @include generate-colors("erisolsprite", #4ac925);

    // Hiveswap
    @include generate-colors("xefros-tritoh", #bb0000);
    @include generate-colors("trizza-tethis", #6e003c);
    $diemen: #6f210e; @include generate-colors("diemen-xicali", $diemen);
    @include generate-colors-inherit("ardata-carmia", $vriska);
    $amisia: boostLightness(#000058); @include generate-colors("amisia-erdehn", $amisia);
    $skylla: #a25200; @include generate-colors("skylla-koriga", $skylla);
    $bronya: #008342; @include generate-colors("bronya-ursama", $bronya);
    $tagora: #008484; @include generate-colors("tagora-gorjek", $tagora);
    @include generate-colors-inherit("vikare-ratite", $skylla);
    $polypa: #426800; @include generate-colors("polypa-goezee", $polypa);
    @include generate-colors-inherit("zebruh-codakk", $amisia);
    @include generate-colors-inherit("elwurd", $vriska);
    $kuprum: #a2a200; @include generate-colors("kuprum-maxlol", $kuprum);
    @include generate-colors-inherit("folykl-darane", $kuprum);
    @include generate-colors-inherit("remele-namaaq", $vriska);
    @include generate-colors-inherit("tyzias-entykk", $tagora);
    @include generate-colors-inherit("chixie-roixmr", $skylla);
    @include generate-colors-inherit("azdaja-knelax", $kuprum);
    $chahut: boostLightness(#2c0059); @include generate-colors("chahut-maenad", $chahut);
    @include generate-colors-inherit("zebede-tongva", $kuprum);
    @include generate-colors-inherit("tegiri-kalbur", $tagora);
    @include generate-colors-inherit("mallek-adalov", $vriska);
    @include generate-colors-inherit("lynera-skalbi", $bronya);
    @include generate-colors-inherit("tirona-kasund", $tagora);
    @include generate-colors-inherit("boldir-lamati", $polypa);
    @include generate-colors-inherit("stelsa-lamati", $tagora);
    @include generate-colors-inherit("marsti-houtek", $diemen);
    @include generate-colors-inherit("karako-pierot", $chahut);
    @include generate-colors-inherit("wanshi-adyata", $bronya);
    @include generate-colors-inherit("fozzer-velyes", $diemen);
    @include generate-colors-inherit("daraya-jonjet", $bronya);
    @include generate-colors-inherit("nihkee-moolah", $amisia);
    @include generate-colors-inherit("lanque-bombyx", $bronya);
    @include generate-colors-inherit("barzum-soleil", $chahut);
    @include generate-colors-inherit("baisil-soleil", $chahut);
}